.productContainer {
  height: var(--full);
  width:fit-content;
  display: flex;
  /* display: grid; */
  /* grid-template-columns: repeat(6, 1fr); */
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 10px 10px 10px;
  overflow: hidden;

  @media (max-width: 640px) {
    justify-content: center;
    padding: 10px 10px 100px 10px;
    grid-template-columns: repeat(4, 1fr);
  }
  @media (max-width: 430px) {
    justify-content: space-around;
    padding: 10px 10px 100px 10px;
    /* grid-template-columns: repeat(3, 1fr); */
  }

  .product {
    /* background-color: aqua; */
    height: 280px;
    width: 205px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cart-text);

    @media (max-width: 430px) {
      height: 170px;
      width: 140px;
      padding: 1px;
      border-radius: 5px;
      /* justify-content: space-between; */
    }

    .productImg {
      display: flex;
      height: 60%;
      width: 100%;
      border-radius: 10px;
      transition: all 0.2s ease-in-out;
      position: relative;
      @media (max-width: 430px) {
        height: 50%;
        width: 90%;
        border-radius: 2px;
      }

      img {
        height: var(--full);
        width: var(--full);
        border-radius: inherit;
        object-fit: fill;
        @media (max-width: 430px) {
          border-radius: 5px;
        }
      }
      &:hover {
        transform: scale(1.05);
      }
    }

    .productDetails {
      width: var(--full);
      padding-left: 10px;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1px;

      @media (max-width: 430px) {
        padding-left: 3px;
        padding-top: 5px;
        gap: 0px;
        font-size: 12px;
      }

      .text-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 1; /* 2 lines max */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .add-item-btn {
    display: flex;
    position: absolute;
    bottom: 1px;
    right: 1px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px rgba(128, 128, 128, 0.343) solid;
    backdrop-filter: blur(5px);
    color:black;
   
    font-weight: 600;

    @media (max-width: 430px) {
      padding: 2px 4px;
      font-weight: 400;
      font-size: 13px;
      box-shadow: 1px 1px 2px;
      border: none;
    }

  

    &:hover {
    background-color: #3498db49;
    backdrop-filter: blur(10px);
    }
  }

}
