.NavContainer {
  color: var(--text-color);
  height: fit-content;
  width: var(--full);
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: linear-gradient(#3498db,white,white);


  @media (max-width: 640px) {
    flex-direction: column;
  
  }

  .firstPart {
    .logoContainer {
      h1 {
        color: var(--logo-color);
        text-shadow: var(--text-shadow);
        font-size: 40px;
        font-weight: 900;

        span {
          -webkit-text-stroke: 1px rgba(0, 0, 0, 0.39); /*text par border*/
          color: var(--favorite-color);
        }
      }
    }
  }

  .secondPart {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .searchContainer {
      height: 30px;
      width: 500px;
      border: var(--set-black-border);
      display: flex;
      border-radius: 10px;
      align-items: center;
      padding-right: 10px;
      box-shadow: var(--box-shadow);

      input {
        height: var(--full);
        width: var(--full);
        padding-left: 10px;
        background: none;
        border: none;
        border-radius: 10px;
        outline: none;
      }
      span {
        cursor: pointer;
      }
    }
  }

  .thirdPart {
    @media (max-width: 640px) {
          position: fixed;
          bottom: 0;
        }
      
    .otherContainer {
      height: fit-content;
      width: fit-content;
      padding: 10px 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      @media (max-width: 640px) {
          width: 100vw;
        }

      .menuContainer {
        font-size: 17px;
        padding: 10px 20px;
        border-radius: 10px;
        /* box-shadow: var(--box-shadow); 
        /* text-shadow: var(--text-shadow); */
        /* background: var(--transparent-background); */
        height: fit-content;
        width: fit-content;
        display: flex;
        justify-content: space-around;
        gap: 10px;
        backdrop-filter: blur(10px); /*transparent background*/
        @media (max-width: 640px) {
          width: 100vw;
          
        }

        .loginContainer,
        .cartContainer {
          font-weight: 600;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size: 15px;
          color: black;
          gap: 3px;
          align-items: center;
          transition: all 0.5s;
          /* &:hover {
            transform: translateY(-10px);
          } */
        }
      }

      .profile {
        display: flex;
      
        .profileImgContainer {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          background-color: var(--body-color);
          color: var(--favorite-color);

          img {
            height: var(--full);
            width: var(--full);
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.set-cart-length {
  transform: translateY(-16px);
  font-size: 16px;
  font-weight: 800;
}
